pkgbase = audio-share
	pkgdesc = Audio Share can share computer's audio to Android phone over network, so your phone becomes the speaker of computer
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/mkckr0/audio-share
	arch = x86_64
	license = Apache-2.0
	makedepends = vcpkg
	makedepends = cmake
	depends = libpipewire
	source = audio-share-0.2.0.tar.gz::https://github.com/mkckr0/audio-share/archive/refs/tags/v0.2.0.tar.gz
	source = git+https://github.com/microsoft/vcpkg
	b2sums = 58acad53ceed9d7250cf42dcbf8b7d524498b25dcdb3a6858438d46f9563c0d4badca6459224916a5031194e863a403790ccca4180bc2e4c8cd400f586f28c4f
	b2sums = SKIP

pkgname = audio-share
